
h1{
  font-family: cursive;
  padding: 40px;
  color: white;
}
.parentFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5%;
}
#formContainer{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 16px #000000;
  width: 30vw;
  height: 50%;
  padding: 20px;
  margin: 40px;
}
#feedback{
  color: red;
}
input{
  width: 100%;
  padding: 5PX;
}
#forgotDiv{
  padding-top: 10px;
}
#forgotDiv a{
  color: rgb(146, 146, 146);
  text-decoration: none;
  cursor: pointer;
}
#forgotDiv a:hover{
  color: rgb(11, 161, 255);
}

